<script language="JavaScript">
		
if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		Bird Tag
	</h1>
</div>

<ul id="home" selected="true" title="Twitter">
    <li><a  href="PublicTimeLine">Public Tweets</a></li>
</ul>
